.App {
  text-align: center;
}

*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
:root {
  --primary-color: #2196f3; 
}

.boxShadow{
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.title::first-letter{
  text-transform: uppercase;
}